<table class='table'>
  <thead>
    <tr>
      <th>Message</th>
      <th>When</th>
    </tr>
  </thead>
  <tbody>
    <% @stored_exceptions.each do |se| %>
      <tr>
        <td><%= link_to(se.title, se) %></td>
        <td><%= format_time(se.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @stored_exceptions %>